<!-- <p class="flex items-end justify-center text-3xl md:text-6xl h-1/2 lg:text-7xl">
  Under Development!
  <span class="text-xl text-center md:text-3xl lg:text-6xlxl"> 🎉🎉🎉 </span>
</p> -->


<div class="bg-gray-100">

  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="flex justify-center my-6">
      <div class="flex flex-col w-full p-8 text-gray-800 bg-white shadow-lg pin-r pin-y md:w-4/5 lg:w-4/5">
        <div class="flex-1 p-30">
          <h2>Products</h2>
          <!-- component -->
          <!-- item card -->
          <div class="md:flex shadow-lg  mx-6 md:mx-auto max-w-lg md:max-w-2xl h-64 m-b-30" *ngFor="let product of products">
            <img class="h-full w-full md:w-1/3  object-cover rounded-lg rounded-r-none pb-5/6"
              src="{{product.image}}" alt="Product preview">
            <div class="w-full md:w-2/3 px-4 py-4 bg-white rounded-lg">
              <div class="flex items-center">
                <h2 class="text-xl text-gray-800 font-medium mr-auto">{{product.name}}</h2>
                <p class="text-gray-800 font-semibold tracking-tighter">
                  only {{product.price}} {{product.currency}}
                </p>
              </div>
              <p class="text-sm text-gray-700 mt-4">
                <ng-container *ngIf="product.discount?.length">
                  <strong>Discount(s)</strong>
                  <ul class="discounts">
                    <ng-container *ngFor="let discount of getProductDiscounts(product)">
                      <ng-container [ngSwitch]="discount.discount_type">
                        <li *ngSwitchCase="'after_minimum_purchase_fix_discount_price'">
                          > Get a discount on <strong>{{product.name}}</strong> where {{discount.minimum_items}} or more purchased. The price dropped to {{product.currency}} {{discount.discount_price_per_item}} per unit
                        </li>
                        <li *ngSwitchCase="'free_item_with_item'">
                          > Get a {{discount.to_purchase + discount.free_products}} for {{discount.to_purchase}} deal on <b>{{product.name}}</b>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ul>
                </ng-container>
              </p>
              <div class="flex items-center justify-end mt-4 top-auto">
                <button
                class=" bg-blue-600 text-gray-200 px-2 py-2 rounded-md animate-wiggle"
                (click)="addToCart(product)">Add to Cart</button>
                <span class="flex h-3 w-3">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <!-- component -->
    <div class="flex justify-center my-6">
      <div class="flex flex-col w-full p-8 text-gray-800 bg-white shadow-lg pin-r pin-y md:w-4/5 lg:w-4/5">
        <div class="flex-1 checkout">
          <h2>Checkout Cart</h2>
          <table class="w-full text-sm lg:text-base" cellspacing="0">
            <thead>
              <tr class="h-12 uppercase">
                <th class="hidden md:table-cell"></th>
                <th class="text-left">Product</th>
                <th class="hidden text-right md:table-cell">Quantity</th>
                <th class="hidden text-right md:table-cell">Unit price</th>
                <th class="text-right">Total price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart; let i = index" [attr.data-index]="i">
                <td class="hidden pb-4 md:table-cell">
                  <a href="javascript:;">
                    <img src="{{item.product?.image}}"
                      class="w-20 rounded" alt="Thumbnail">
                  </a>
                </td>
                <td>
                  <a href="javascript:;">
                    <p class="mb-2 md:ml-4">{{item.product?.name}}</p>
                      <button type="button" class="text-gray-700 md:ml-4" (click)="removeFromCart(i)">
                        <small>(Remove item)</small>
                      </button>
                  </a>
                </td>
                <td class="justify-center md:justify-end md:flex mt-6">
                  <div class="w-20 h-10">
                    <div class="relative flex flex-row w-full h-8">
                      <input type="number" [(ngModel)]="item.qty" min="1" max="1000"
                        class="w-full font-semibold text-center text-gray-700 bg-gray-200 outline-none focus:outline-none hover:text-black focus:text-black" />
                    </div>
                  </div>
                </td>
                <td class="hidden text-right md:table-cell">
                  <span class="text-sm lg:text-base font-medium">
                    {{getUnitPrice(item) | number}}
                  </span>
                </td>
                <td class="text-right">
                  <span class="text-sm lg:text-base font-medium">
                    {{getItemTotalPrice(item) | number}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr class="pb-6 mt-6">
          <div class="my-4 mt-6 -mx-2 lg:flex">
            <div class="lg:px-2 lg:w-1/2">
              <div class="p-4 rounded-full">
                <h3 class="ml-2 font-bold uppercase">Order Details</h3>
              </div>
              <div class="p-4">
                <p class="mb-6 italic">Shipping and additionnal costs are calculated based on values you have entered
                </p>
                <div class="flex justify-between border-b">
                  <div class="lg:px-4 lg:py-2 m-2 text-lg lg:text-xl font-bold text-center text-gray-800">
                    Subtotal
                  </div>
                  <div class="lg:px-4 lg:py-2 m-2 lg:text-lg font-bold text-center text-gray-900">
                    {{getCartTotalPrice() | number}}
                  </div>
                </div>
                <div class="flex justify-between pt-4 border-b">
                  <div class="lg:px-4 lg:py-2 m-2 text-lg lg:text-xl font-bold text-center text-gray-800">
                    Tax
                  </div>
                  <div class="lg:px-4 lg:py-2 m-2 lg:text-lg font-bold text-center text-gray-900">
                    0
                  </div>
                </div>
                <div class="flex justify-between pt-4 border-b">
                  <div class="lg:px-4 lg:py-2 m-2 text-lg lg:text-xl font-bold text-center text-gray-800">
                    Total
                  </div>
                  <div class="lg:px-4 lg:py-2 m-2 lg:text-lg font-bold text-center text-gray-900">
                    {{getCartTotalPrice() | number}}
                  </div>
                </div>
                <a href="javascript:;">
                  <button
                    class="flex justify-center w-full px-10 py-3 mt-6 font-medium text-white uppercase bg-gray-800 rounded-full shadow item-center hover:bg-gray-700 focus:shadow-outline focus:outline-none">
                    <svg aria-hidden="true" data-prefix="far" data-icon="credit-card" class="w-8"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path fill="currentColor"
                        d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z" />
                    </svg>
                    <span class="ml-2 mt-5px">Procceed to checkout</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
